name: macOS tests

# This file is meant for testing across supported Python versions.

on:
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: macos-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13", "3.14"]

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install Poetry
      uses: snok/install-poetry@v1
      with:
        version: 2.1.3 
        virtualenvs-create: true
        virtualenvs-in-project: true

    - name: Install dependencies
      run: |
        poetry install

    - name: Test with pytest
      env:
        NEUPHONIC_API_KEY: ${{ secrets.NEUPHONIC_API_TOKEN }}
        NEUPHONIC_API_URL: ${{ secrets.NEUPHONIC_API_URL }}
      run: |
        poetry run pytest --ignore=tests/deprecated --cov pyneuphonic

    - name: Lint with ruff
      run: |
        poetry run ruff check .
